/* General */ 

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
    background-color: hsl(235, 18%, 26%);
    min-height: 100vh;
}

button {
    background-color: hsl(234, 29%, 20%);
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    width: 100%;
}

button:hover {
    background: rgb(255,84,120);
    background: linear-gradient(90deg, rgba(255,84,120,1) 0%, rgba(255,105,62,1) 100%);
    box-shadow: 0px 12px 13px 2px rgba(255,84,120,1);
    cursor: pointer;
}

.container {
    margin: 10px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 2vh;
    border-radius: 30px;
    width: 916px;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: hsl(234, 29%, 20%);
    margin-bottom: 20px;
}

p {
    font-size: 13px;
    text-align: start;
}

ul {
    list-style: none;
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
    list-style-image: none;
}

ul li {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

ul li img {
    margin-right: 10px;
    margin-top: -10px;
}

ul li p {
    display: inline-block;
    margin-bottom: 10px !important; 
    line-height: 100%;
}

input[type="email"] {
    padding: 15px 14px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px hsl(231, 7%, 60%) solid;
}

input[type="email"]:focus {
    outline: none;
}

input[type="email"]:invalid {
    background-color: rgb(214, 163, 163);
    border: red solid 1px;
}

#invalid-email {
    color: rgb(214, 163, 163);
}

form {
    display: flex;
    flex-direction: column;
}

#form-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    color: hsl(234, 29%, 20%);
    font-size: 11px;
    text-align: start;
    font-weight: 700;
    margin-bottom: 10px;
}

#subscribe-form {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px;
    justify-content: space-between;
}

#subscribe-image {
    width: 400px;
    height: 593px;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
}

#subscribe-text {
    padding-top: 50px;
    width: 310px;
    margin-left: 79px;
}

.text {
    margin-bottom: 27px;
    line-height: 20px;
}

#subscribe-success {
    display: none;
    padding: 40px;
    text-align: left;
    width: 382px;
}

#subscribe-success p {
    font-size: 12px;
    margin-bottom: 28px;
    line-height: 20px;
}

#user-mail {
    font-weight: 700;
}

@media (width:375px) {
    #container {
        width: 375px;
        height: 800px;
        padding: 0;
        border-radius: 0;
        margin: 0;
    }

    #subscribe-form {
        flex-direction: column-reverse;
        padding: 0;
    }

    #subscribe-text {
        margin: 0;
        width: 100%;
        padding: 25px;
    }

    #subscribe-success {
        padding-top: 150px;
    }

    #subscribe-image {
        position: relative;
        margin-bottom: 50%;
    }

    #subscribe-success img {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2rem;
        text-align: left;
    }

    button { 
        position: relative;
        margin-top: 100%;
    }
}