/* General */ 

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
    background-color: hsl(235, 18%, 26%);
}

.container {
    margin: 10px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 2vh;
    width: fit-content;
    border-radius: 30px;
    display: flex;
}

#subscribe-form {
    flex-direction: column;
    text-align: center;
    padding: 4rem;
}

#subscribe-success {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    width: 100%;
    text-align: justify;
}

ul li {
    margin-bottom: 1rem;
}

ul li img {
    margin-right: 10px;
}

input[type="email"] {
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}