/* General */ 

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
}

html, body, main {
    height: 100%;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
    background-color: hsl(235, 18%, 26%);
}

.container {
    margin: 50px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 2vh;
    width: 55%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#subscribe-image {
    width: 100%;
    height: auto;
}

#subscribe-image img {
    width: 100%;
    height: auto;
}

#subscribe-form {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px;
}

#subscribe-text {
    padding-top: 50px;
    margin: 0 40px;    
    width: 100%;
}

#subscribe-success {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 1rem;
    color: hsl(234, 29%, 20%);
}

p {
    margin-bottom: 1rem;
    font-size: 12px;
}

ul {
    list-style: none;
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
}

ul li {
    margin-bottom: 1rem;
    font-size: 14px;
}

ul li img {
    margin-right: 10px;
}

input[type="email"] {
    padding: 15px 14px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px hsl(231, 7%, 60%) solid;
}

input[type="email"]:focus {
    outline: none;
}

input[type="email"]:invalid {
    background-color: rgb(214, 163, 163);
    border: red solid 1px;
}

#invalid-email {
    color: rgb(214, 163, 163);
}

form {
    display: flex;
    flex-direction: column;
}

#form-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: hsl(234, 29%, 20%);
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
}

button:hover {
    background: rgb(255,84,120);
    background: linear-gradient(90deg, rgba(255,84,120,1) 0%, rgba(255,105,62,1) 100%);
    box-shadow: 0px 12px 13px 2px rgba(255,84,120,1);
    cursor: pointer;
}

label {
    color: hsl(234, 29%, 20%);
    font-size: 12px;
    text-align: start;
    font-weight: bold;
    margin-bottom: 10px;
}